<html>
<head>
</head>
<body>
<center>
 <form action="/student/register/" method="POST">

    <h2 style='color:red'>Registration page</h2>
    <table>
        <tr>
   <td>Uname:</td>  <td><input type="text" name="username"></td>
            </tr>
      <tr>
   <td>email:</td>  <td><input type="email" name="email"></td>
            </tr>
        <tr>
            <td>Password:</td><td> <input type="password" name="password"></td>
            </tr>
      <tr>
            <td>confirmPassword:</td><td> <input type="password" name="password1"> </td>
            </tr>
        </table>
      <input type="submit" value="Register">
      </form>
  </center>
</body>
</html>


